<app-header></app-header>

<div class="card">
  <h2 class="title">Crea tu línea de tiempo</h2>
<div *ngIf="plantillaNombre" class="plantilla-info">
    <small>Usando plantilla: <strong>{{ plantillaNombre }}</strong></small>
  </div>
  <label class="label">Título</label>
  <input
    type="text"
    placeholder="Personajes Históricos del Perú"
    [(ngModel)]="titulo"
    class="input"
    maxlength="50"
  />
  <small *ngIf="tituloError" class="error">{{ tituloError }}</small>

  <label class="label">Descripción corta</label>
  <input
    type="text"
    placeholder="Siglo XIX y XX"
    [(ngModel)]="descripcion"
    class="input"
    maxlength="100"
  />
  <small *ngIf="descripcionError" class="error">{{ descripcionError }}</small>

  <button class="btn" (click)="empezar()">Empezar</button>
</div>